/* SunnyMoon Weather App project css style */
*,
*:before,
*:after {
  box-sizing: border-box;
}

.card {
    margin: 40px;
    align-content: center;
    border-radius: 10px;
    font-size: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.team-area {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-auto-rows: minmax(350px, auto);
    align-content: center;
}

.team-heading {
    font-size: 40px;
    text-align: left;
    font-weight: normal;
    color: lightskyblue;
    background-color: #0D47A1;
    border-radius: 10px 10px 0 0;
}

.fas {
    color: white;
    font-size: 20px;
}

h2 {
    font-size: 24px;
    color: lightskyblue;
}

h3 {
    font-size: 20px;
}

.card-header {
    padding: 10px;
    color: white;
    text-align: center;
    background-color: #062961;
}

.employee-card {
    border: none;
    font-size: 16px;
    text-align: left;
    color: slategray;
    font-weight: normal;
    border-radius: 0 0 10px 10px;
    background-color: lightgrey;
}

/* Maintains side margins - small view ports */
@media only screen and (max-width: 980px) {
    .team-area { 
        margin: 0;
    }
}